---
permalink: /.htaccess
eleventyExcludeFromCollections: true
---
Options -Indexes
ServerSignature email
SetEnv TZ {{ metadata.timezone }}
DefaultLanguage en-US
AddDefaultCharset UTF-8
AddEncoding x-compress .Z
AddEncoding x-gzip .gz .tgz
SetEnv SERVER_ADMIN {{ metadata.webmaster }}

<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>


<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE image/x-icon
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/x-font
AddOutputFilterByType DEFLATE application/x-font-truetype
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/x-font-otf
AddOutputFilterByType DEFLATE application/x-font-opentype
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE font/ttf
AddOutputFilterByType DEFLATE font/otf
AddOutputFilterByType DEFLATE font/opentype
# For Olders Browsers Which Can't Handle Compression
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 30 days"
ExpiresByType image/jpeg "access 30 days"
ExpiresByType image/gif "access 30 days"
ExpiresByType image/png "access 30 days"
ExpiresByType image/svg+xml "access 2 days"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 30 days"
ExpiresByType image/x-icon "access 1 year"
ExpiresBytype application/json "access 2 days"
ExpiresBytype text/calendar "now 0 seconds"
ExpiresDefault "access 1 month"
</IfModule>

<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Credentials: false
Header always append X-Frame-Options SAMEORIGIN"
Header always set Referrer-Policy "origin-when-cross-origin"
Header always edit Set-Cookie (.*) "$1; SameSite=None; Secure"
Header set Accept-Language: en-US,en;q=0.5
Header set Content-Language "en-US"
Header set Connection keep-alive
Header always edit Set-Cookie (.*) "$1; HTTPOnly; Secure"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"

## EXPIRES CACHING ##
  <filesmatch "\.(ico|flv|gif|swf|eot|woff|otf|ttf)$">
    Header set Cache-Control "public,max-age=31536000,immutable"
  </filesmatch>
  <filesmatch "favicon.svg">
    Header set Cache-Control "public,max-age=3600"
  </filesmatch>
  <filesmatch "\.(jpg|jpeg|png|webp)$">
    Header set Cache-Control public,max-age=31536000,immutable
  </filesmatch>
# css and js should use private for proxy caching https://developers.google.com/speed/docs/best-practices/caching#LeverageProxyCaching
  <filesmatch "\.(css)$">
    Header set Cache-Control "max-age=2592000, private"
  </filesmatch>
  <filesmatch "\.(js)$">
    Header set Cache-Control "public,max-age=31536000,immutable"
  </filesmatch>
  <filesmatch "\.(json)$">
    Header set Cache-Control "max-age=2592000, private"
  </filesmatch>

# [csp headers]
# this text will be replaced by apply-csp.js plugin
# [end csp headers]
</IfModule>

RewriteEngine on
  RewriteBase /
  RewriteRule ^.well-known/(host-meta|webfinger).* https://fed.brid.gy/$0  [redirect=302,last]
