---
layout: layouts/home.njk
tags: nav
navtitle: Home
---

<div class="warning">
	Now edit the <code>_data/metadata.json</code> with your blog’s information—and delete this message from <code>index.njk</code>.
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

