---
pagination:
  data: metadata.tagPages
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layouts/home.njk
---

<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
