---
permalink: feed/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.feed.subtitle }}</subtitle>
	<link href="{{ metadata.feed.url }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.feed.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{% for post in collections.posts %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ metadata.url }}{{ post.url }}"/>
		<updated>{{ post.date | rssDate }}</updated>
		<id>{{ metadata.url }}{{ post.url }}</id>
		<content type="html">{{ post.templateContent }}</content>
	</entry>
	{% endfor %}
</feed>