<!doctype html>
<html lang="en"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/posts/posts.css">
	</head>
	<body>
		<header>
			<a href="/""><img src="/img/logo.png" class="logo"></a>
			<ul class="nav">
				{%- for nav in collections.nav -%}
				<li class="nav-item"><a href="{{ nav.url | absoluteUrl }}">{{ nav.data.navtitle }}</a></li>
				{%- endfor -%}
		</header>

		{{ layoutContent | safe }}

		<footer>
			<p><em><a href="/feed/">Subscribe to my feed</a></em></p>
			<p><em>Current page: <code>{{ page.url }}</code></em></p>
		</footer>
	</body>
</html>